doctype html
html(ng-app = "FindMyPet")
    head
        title= title
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='mobile-web-app-capable', content='yes')
        title title
        script(src = 'https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js')
        script(src='/vendor/platform/platform.js')
        
        link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/estilos.css')
        link(rel='import', href='/vendor/core-ajax/core-ajax.html')
        link(rel='import', href='/vendor/core-header-panel/core-header-panel.html')
        link(rel='import', href='/vendor/core-menu/core-menu.html')
        link(rel='import', href='/vendor/core-item/core-item.html')
        link(rel='import', href='/vendor/core-icon-button/core-icon-button.html')
        link(rel='import', href='/vendor/core-icon/core-icon.html')
        link(rel='import', href='/vendor/core-toolbar/core-toolbar.html')
        link(rel='import', href='/vendor/core-input/core-input.html')
        link(rel='import', href='/vendor/core-selector/core-selector.html')
        link(rel='import', href='/vendor/google-map/google-map.html')
        link(rel='import', href='/vendor/google-map/google-map-search.html')
        link(rel='import', href='/vendor/paper-dialog/paper-dialog.html')
        link(rel='import', href='/vendor/paper-dialog/paper-dialog-transition.html')
        link(rel='import', href='/vendor/paper-button/paper-button.html')
        link(rel='import', href='/vendor/paper-input/paper-input.html')
        link(rel='import', href='/vendor/core-scaffold/core-scaffold.html')
        link(rel='import', href='/vendor/polymer/polymer.html')
        link(rel='import', href='/vendor/paper-tabs/paper-tabs.html')

        script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
        script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')

        script(src = '/javascripts/appo.js')
    body(fullbleed='fullbleed', vertical='vertical', layout='layout', unresolved='unresolved' ng-controller = "Main")
        script(src='javascripts/ajax-polymer.js')
        script(src='javascripts/getLocation.js')
        block content