doctype html
html
    head
        title= title
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='mobile-web-app-capable', content='yes')
        title title
        script(src='/vendor/platform/platform.js')
        link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
        link(rel='stylesheet', type='text/css', href='/stylesheets/estilos.css')
        link(rel='import', href='/vendor/core-ajax/core-ajax.html')
        link(rel='import', href='/vendor/core-header-panel/core-header-panel.html')
        link(rel='import', href='/vendor/core-menu/core-menu.html')
        link(rel='import', href='/vendor/core-item/core-item.html')
        link(rel='import', href='/vendor/core-icon-button/core-icon-button.html')
        link(rel='import', href='/vendor/core-icon/core-icon.html')
        link(rel='import', href='/vendor/core-toolbar/core-toolbar.html')
        link(rel='import', href='/vendor/core-input/core-input.html')
        link(rel='import', href='/vendor/core-selector/core-selector.html')
        link(rel='import', href='/vendor/google-map/google-map.html')
        link(rel='import', href='/vendor/google-map/google-map-search.html')
        link(rel='import', href='/vendor/paper-dialog/paper-dialog.html')
        link(rel='import', href='/vendor/paper-dialog/paper-dialog-transition.html')
        link(rel='import', href='/vendor/paper-button/paper-button.html')
        link(rel='import', href='/vendor/paper-input/paper-input.html')
        link(rel='import', href='/vendor/polymer/polymer.html')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
        script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js')
    body(fullbleed='fullbleed', vertical='vertical', layout='layout', unresolved='unresolved')
        nav.navbar.navbar-custom(role='navigation')
            .container-fluid 
                .navbar-header
                    button.navbar-toggle(data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/') Find my pet!
                #bs-example-navbar-collapse-1.collapse.navbar-collapse
                    -if (user){
                        button.btn.btn-custom.navbar-btn.navbar-right.dropdown-toggle= user.local.email
                            span.caret
                        ul.dropdown-menu(role='menu')
                            li
                                a(href='/account') Cuenta
                            li
                                a(href='/logout') Cerrar sesión
                    -} else{
                        a.btn.btn-custom.navbar-btn.navbar-right(href='/login') Iniciar Sesión
                    -}
                    a.add-report.navbar-text.navbar-right(data-toggle="modal", data-target="#newReport")
                        span.glyphicon.glyphicon-plus
        block content