extends noNav

block content
    //cambiar nombres sin guion bajo
    script(src='/javascripts/initMarker.js')
    nav#map-navbar.navbar.navbar-fixed-bottom.navbar-custom(role='navigation')
        .container-fluid
            .navbar-header
              a.navbar-brand(href='/')
                span.glyphicon.glyphicon-chevron-left
            button.btn-step.btn.btn-custom.navbar-btn.navbar-right(type='button', onclick='nextStep()') Siguiente

    template#map(is='auto-binding')
        core-ajax.api-ajax(auto='auto', url='http://localhost:3000/api/pins', params='{"swLn":"{{$.new_pin_map.sw.ln}}", "swLt":"{{$.new_pin_map.sw.lt}}", "neLn": "{{$.new_pin_map.ne.ln}}", "neLt": "{{$.new_pin_map.ne.lt}}"}', handleas='json', response='{{response}}')
        google-map-search#google_map_search(map='{{map}}', query='{{$.core_input.value}}', result='{{location}}')
        google-map#new_pin_map(map='{{map}}', latitude='{{location.latitude}}', longitude='{{location.longitude}}', zoom='17', disabledefaultui='disableDefaultUI')
            google-map-marker#new_pin_marker(draggable='true')
            div lala {{$newPinMarker.latitude}}
            template.template-ajax(repeat='{{response}}')
                google-map-marker(latitude='{{location[1]}}', longitude='{{location[0]}}')
        #search-box
            core-field
                core-input#core_input(willvalidate='willvalidate', placeholder='Busca una dirección o lugar...')
                core-icon(icon='icons:search')
        script(src='/javascripts/newPinSteps.js')
        form#new-pin-form(action='/pins', method='post', role='form')
            .container
                .row
                    .col-md-8.col-md-offset-3
                        .form-group
                            label.radio-inline
                                input(type='radio', name='sex', value='male')
                                | Macho
                            label.radio-inline
                                input(type='radio', name='sex', value='female')
                                | Hembra
                            label.radio-inline
                                input(type='radio', name='sex', value='unknown')
                                | ¡No tengo idea!
                        //TODO: Las razas deben venir de la base de datos
                        select.form-control(name='breed')
                            option(value='Chihuahua') Chihuahua
                            option(value='Husky') Husky Siberiano
                            option(value='Pug') Pug
                        .form-group
                            input#map-longitude(type='hidden', name='longitude')
                            input#map-latitude(type='hidden', name='latitude')
                            label.radio-inline
                                input(type='radio', name='dogSize', value='big')
                                | Grande
                            label.radio-inline
                                input(type='radio', name='dogSize', value='mz')
                                | Mediano
                            label.radio-inline
                                input(type='radio', name='dogSize', value='small')
                                | Pequeño
                        label(for='description')
                            | Describe su apariencia
                        textarea.form-control(rows='3' name='description')
                        .form-group
                            input.btn.btn-default(type='submit')
