 :host {
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
      }
      body {
      	font-family: arial;
      }
      #search-box{
        position: absolute;
        top: 25px;
        left: 25px;
        z-index: 100;
        background: #fff;
      }
      #search-box core-field{
        background: #fff;
        border-radius: 3px;
        margin-top: 5px;
        width: 200px;
        vertical-align: middle;
      }
      #search-box core-icon{
        vertical-align: middle;
      }
      #core_scaffold {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
      }
      #core_header_panel {
        background-color: rgb(255, 255, 255);
      }
      #core_toolbar {
        color: rgb(255, 255, 255);
        background-color: rgb(79, 125, 201);
      }
      #core_menu {
        font-size: 16px;
      }
      #google_map {
        width: 100%;
        height: 100%;
        display: block;
        left: 0px;
        top: 0px;
        position: absolute;
      }
      #core_input {
        padding: 10px;
      }
      #google_map_search {
        left: 560px;
        top: 290px;
        position: absolute;
      }